$primary: #eaeaef;
$secondary: #fff;
$third: #d7d7df;
$main-color: #f26700; 
$green-color: #85b13b; 
$button-hover: #7f7f8b;
$button-shaddow: 8px 8px 0px rgba(127, 127, 139, 0.2);
$header-link-color: #838387;
$title-color: #000;
$text-color: #000;
$menu-link-color: #000;
$navigation-links-color: 000;

