// variables overwrites
@import './variables';
@import './fonts';
@import './buttons';

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Custom utils
@import './utils/container';


// page
@import 'page/page';
@import './components/article';
@import './components/slider';
@import './components/subscribtion';
@import './components/search-form';
@import './components/teasers';


html,
body {
    margin: 0;
    font-family: 'ff-dagny-web-pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: $primary;
    height: 100%;
}

//tmp
.content-white {
    background-color: $secondary;
}

.content-grey {
    background-color: $third;
}