.header {
    min-height: 122px;

    &__right {
        display: flex;
        justify-content: flex-end;
    }
    /*
    &__content {
        &-container {
            @include make-container();
            height: 100%;
            display: none;

            @include media-breakpoint-up(lg) {
                @include make-container-max-widths();
                display: block;
            }

            &--active {
                &::after {
                    margin-left: -15px;
                    margin-right: -15px;
                    content: '';
                    height: 4px;
                    background-color: $primary;
                    display: none;

                    @include media-breakpoint-up(lg) {
                        display: block;
                    }
                }
            }
        }

        &-row {
            @include make-row();
            position: relative;
            height: 100%;
            justify-content: space-between;
        }

        &-regular {
            @include make-container();

            @include media-breakpoint-up(lg) {
                @include make-container-max-widths();
            }

            height: 100%;

            @include media-breakpoint-up(lg) {
                padding-left: 60px;
            }
        }
    }

    &__links {
        @include make-col-ready();
        @include make-col(8);
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }

        &-list {
            @include list-unstyled();
            margin-top: 25px;
        }

        &-listitem {
            display: inline;
        }

        &-link {
            color: $header-link-color;

            &:hover {
                text-decoration: none;
                color: black;
            }

            margin-right: 25px;
        }
    }

    

    &__logo {
        @include make-col-ready();
        @include make-col(6);
        display: flex;

        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
            @include make-col(4);
        }
    }

  

    &__menu {
        @include make-col-ready();
        @include make-col(6);
        display: flex;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        justify-content: flex-end;

        &-btn {
            cursor: pointer;
            @include button-variant(transparent, transparent);
            @include button-size(32px, 25px, 1rem, 1, 0);

            span {
                color: $title-color;
            }
        }
    }

    &__search {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }

        span {
            cursor: pointer;
            display: block;
            color: $primary;
            padding: 21px 21px 22px 22px;
            font-size: 1.0625rem;
            color: $primary;

            &:hover {
                color: white;
                background-color: $primary;
            }
        }
    }
      */
}
@import '../components/logo';
@import '../components/navigation';
@import '../components/favorites';
@import '../components/search';
@import '../components/language';
