.header {
    min-height: 122px;

    &__right {
        display: flex;
        justify-content: flex-end;
    }
}
@import '../components/logo';
@import '../components/navigation';
@import '../components/favorites';
@import '../components/search';
@import '../components/language';
