.main_content__article {
    & .container {
        background: url('../images/Italian-cuisine-start.jpg') no-repeat top left;
        display: flex;
        justify-content: flex-end;
    }

    &-topic {
        padding: 40px 45px 45px 45px;
        background: #303035;
        max-width: 479px;
        max-height: 385px;
        display: block;
        color: $secondary;

        @include media-breakpoint-down(md) {
            padding: 20px;
            max-width: 379px;
        }

        @include media-breakpoint-down(xs) {
            margin-top: 276px;
        }    

        &-subtitle {
            font-size: 18px;
            color: $main-color;
            font-weight: bold;
            padding-bottom: 9px;

            @include media-breakpoint-down(xs) {
                font-size: 15px;
            }
        }

        &-title {
            font-size: 38px;
            line-height: 40px;
            font-weight: bold;
            padding-bottom: 21px;

            @include media-breakpoint-down(md) {
                font-size: 36px;
            }

            @include media-breakpoint-down(xs) {
                font-size: 27px;
                line-height: normal;
            }
        }

        &-text {
            font-size: 18px;
            padding-bottom: 36px;
            padding-right: 40px;
            line-height: normal;

            @include media-breakpoint-down(md) {
                font-size: 16px;
            }
        }

        &-link a {
            padding: 10px 20px;
            color: #fff;
            border-color: #fff;
        }
    }
}
