.logo {
    padding-top: 24px;
    padding-right: 21.8px;
    padding-left: 35.8px;
    display: block;

    @include media-breakpoint-down(md) {
        text-align: center;
    }

    & > img {
        display: inline-block;
        height: 50px;
        @include media-breakpoint-down(md) {
            height: 45px;
        }
    }

    & .logo-extension {
        height: 77px;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    @include media-breakpoint-down(lg) {
        padding: 24px 0px 0px 0px;
    } 

    @include media-breakpoint-down(md) {
        padding: 0px;
    } 
}
