.newsletter {
    &__title {
        font-size: 1.5rem;
        font-weight: bold;
    }
    p {
        font-size: 0.75rem;
    }
    color: #fff;
    &__button {
        @include button-outline-variant(#fff, rgba($primary, 0.7));
        border: none;
        font-weight: bold;
        padding: 0;
        cursor: pointer;
        &:hover {
            background-color: transparent;
        }
    }
}
