.section {
    padding-top: 60px;
    padding-bottom: 60px;
    &__content {
        @include make-container();
        @include media-breakpoint-up(lg) {
            @include make-container-max-widths();
        }
        @include make-container-padding();
    }
    &--brown {
        background-color: $secondary;
    }

    .card-columns {
        margin-top: 25px;
        column-count: 1;
        column-gap: 30px;
        @include media-breakpoint-up(md) {
            column-count: 2;
        }
        .teaser {
            display: inline-block;
            width: 100%;
        }
    }
}
