.teaser-menu {
    &__title {
        text-transform: uppercase;
        font-weight: bold;

        &::after {
            content: '';
            display: block;
            height: 1px;
            background-color: #fff;
            opacity: 0.5;
            margin-top: 10px;
        }
        margin-bottom: 15px;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__elem {
        display: inline-block;
        margin-bottom: 5px;
        &:hover {
            text-decoration: none;
        }
    }
    &--footer {
        color: #fff;
        a {
            color: #fff;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}
