.teazer {
    padding: 0px 61px;

    &__body {
        padding: 0px 5px;

        &-cover {
            display: flex;
        }
    }

    &__cover {
        align-self: stretch;
        width: 100%;
        padding: 38px;
        text-align: right;

        & .teazer__title {
            color: #fff;
            font-size: 42px;
            line-height: normal;
        }
    }

    &__product {
        background: #fff;
        text-align: center;
        padding: 11px;
    }

    &__image {
        margin-bottom: 34px;
        display: block;

        & img {
            width: 100%;
        }
    }

    &__favorite {

        & i {
            color: #7f7f8b;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        line-height: normal;
        padding-bottom: 22px;
        color: #000;
    } 

    &__arrow {
        position: absolute;
        right: 27px;
        bottom: 23px;  

        & a {
            @include transition(all 0.4s ease);
        }

        & a:hover {
            text-decoration: none;
            color: $button-hover;
        }

        & i {
            font-size: 49px;
            font-weight: bold;
        }
    }

    &__features {
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: #7f7f8b;
        padding-bottom: 24px;
    }

}